{% extends 'base.html' %}

{% block content %}
  <div style="text-align: center;">
    <h3 class="text-left">{{ user_data['nome_usual'] }}</h3>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
    <img src="https://suap.ifrn.edu.br{{ user_data['url_foto_150x200'] }}" alt="foto" class="mx-auto d-block">
    
    <table class="table" style="margin-top: 10px;">
      {% for field in user_data %}
        <tr>
          <th>{{ field }}</th>
          <td>{{ user_data[field] }}</td>
        </tr>
      {% endfor %}
    </table>

    {% include 'boletim.html' %} 

    <div class="text-center">
      <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>
    </div>
  </div>
{% endblock %}